<html>
<head>
<title>EWU Tools</title>
	<style>{{ source('homepagestylesheet.css') }}</style>
</head>
<body>
<form action="index.php" method="post">

<div style="background-color: white; margin: 0; padding: 0;">
<h1 class="centered" style="font-size: 34px; font-family: helvetica;"> <u> Eastern Washington University Tools</u> </h1>
</div>
<hr style="margin-left: 5%; margin-right: 5%;"></hr>

<div style="margin-left: 25%; margin-right: 25%; font-size: 18px;">
	<p>
		The following toolset is provided by the Information Technology department.
	</p>
</div>
<div>
<table class="centered">
<h2 class="centered">Available tools:</h2>
<hr style="margin-left: 5%; margin-right: 5%;"></hr>
<tr></br></tr>

	<!-- Note at top of tool table -->
	<tr class="tablerow">
	<td></td>
	<td style="text-decoration:underline;">
			<strong>Note</strong>: links colored <span class="comingSoon">red </span> are not completed yet.
	</td>
	</tr>

	<!-- SSO -->
	<tr class="tablerow">
		<td><strong><u> Single Sign On</u>: </strong></td>
		<td> Easily integrate EWU SSO into your project with attributes available. </td>
		<td><a href="../public/date">SSO Tool</a></td>
		<td><a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpcas">README</a></td>	
	</tr>
	
	<!-- OAuth -->
		<!-- BitBucket -->
		<tr class="tablerow">
			<td><strong><u> OAuth</u>: </strong></td>
			<td> OAuth example using Bitbucket</td>
			<td><a href="../public/bit/">BitBucket Tool</a></td>
			<td><a class="comingSoon" href="#">README</a></td>
		</tr>
		<!-- Google -->
		<tr class="tablerow">
			<td></td>
			<td> OAuth example using Google</td>
			<td><a href="../public/google/">Google Tool</a></td>
			<td><a class="comingSoon" href="#">README</a></td>
		</tr>
		
	<!-- Database Management -->
	<tr class="tablerow">
		<td><strong><u> Database Management</u>: </strong></td>
		<td> Manage your database. </td>
		<td><a href="#" class="comingSoon">DB Management Tool</a></td>
		<td><a href="#" class="comingSoon">README</a></td>
	</tr>
	
	<!-- Database Migrations -->
	<tr class="tablerow">
		<td><strong><u> Database Migration</u>: </strong></td>
		<td> Migrate your database. </td>
		<td><a href="#" class="comingSoon">DB Migration Tool</a></td>
		<td><a href="#" class="comingSoon">README</a></td>
	</tr>
	
	<!-- Dynamic Form Creation -->
	<tr class="tablerow">
		<td><strong><u> Dynamic Form Creation</u>: </strong></td>
		<td> Dynamically create a form. </td>
		<td><a href="#" class="comingSoon">Form Tool</a></td>
		<td><a href="#" class="comingSoon">README</a></td>
	</tr>
	
</table>
</div>

<hr style="margin-left: 5%; margin-right: 5%;"></hr>

<div class="centered">
	<p>
	For more information, visit our <a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpframework" >BitBucket</a> page. 
	</p>
</div>

</body>
</html>
