{% extends 'foundation_5_layout.html.twig' %}
{# custom-theme/fields.html.twig #}


{% block checkbox_widget -%}
    <div class="custom-checkbox">
      {{ parent() }}
    </div>
{%- endblock checkbox_widget %}
